In [1]:


### parameters
place = 'tel_aviv'

In [2]:
import osmnx as ox
from osmnx import io
import geopandas as gpd
import pandas as pd
import os
from pathlib import Path
import warnings
warnings.filterwarnings(action='ignore')
crs_prj = 'EPSG:2039'



# Get the current working directory (e.g., the folder you're running from)
cwd = Path().resolve()

# Get the parent directory
parent_folder = f'{cwd.parent}/places/{place}'
data_folder = f'{parent_folder}/shp'
os.makedirs(f'{parent_folder}',exist_ok=True)
os.makedirs(f'{parent_folder}/shp',exist_ok=True)

In [137]:
# Download OSM graph for the place
place = 'tel aviv, Israel'
graph = ox.graph_from_place(place, network_type='all')
print('✔️ Finished downloading OSM data')


# Project the graph to a specific CRS for analysis
graph_pro = ox.projection.project_graph(graph, to_crs=crs_prj)

# Save the projected graph to a GeoPackage file
io.save_graph_geopackage(
    graph_pro,
    filepath=f'{data_folder}/osm_data.gpkg',
    encoding='utf-8',
    directed=False
)

In [7]:
# Load your two layers
# Layer 1: your own street edges
street_edges = gpd.read_file(f"{data_folder}/streets.shp").reset_index(drop=True)
if 'highway' in street_edges.columns:
    street_edges.drop(columns=['highway'], inplace=True)
if 'overlap_area' in street_edges.columns:
    street_edges.drop(columns=['overlap_area'], inplace=True)
# Layer 2: OSM street edges with a 'highway' `field
osm_edges = gpd.read_file(f'{data_folder}/osm_data.gpkg',layer = 'edges' )[['geometry', 'highway']].reset_index()
# street_edges.drop(columns=['overlay_hi','overlay_ar','matched_hi'], inplace=True)

In [8]:

# Step 1: Buffer the street and OSM layers
buffered_edges = street_edges.copy()
buffered_edges['geometry'] = buffered_edges.geometry.buffer(10)

buffered_osm = osm_edges.copy()
buffered_osm['geometry'] = buffered_osm.geometry.buffer(0.5)

# Step 2: Intersect buffered layers and compute area
intersections = gpd.overlay(buffered_edges, buffered_osm, how='intersection')
intersections['overlap_area'] = intersections.geometry.area


# Step 3: Build lookup for original geometries
# Needed to calculate real distances later
orig_geoms = street_edges.set_index('oidrechov')['geometry'].to_dict()

osm_geoms = osm_edges[['geometry', 'highway']].copy()
osm_geoms['osm_index'] = osm_geoms.index


# Step 4: Decision function per `oidrechov`
def choose_highway(oid, w_overlap=0.7, w_distance=0.3):
    if oid not in orig_geoms:
        return 'not known'

    original_geom = orig_geoms[oid]

    # Get all intersections for this oidrechov
    group_overlaps = intersections[intersections['oidrechov'] == oid]
    if group_overlaps.empty:
        return 'not known'

    # Filter overlaps < 5m²
    group_overlaps = group_overlaps[group_overlaps['overlap_area'] >= 10]
    if group_overlaps.empty:
        return 'not known'

    # Group by highway, sum area and find min distance per highway
    candidates = []
    for highway, group in group_overlaps.groupby('highway'):
        total_area = group['overlap_area'].sum()
        min_dist = group['index'].apply(
            lambda idx: original_geom.distance(osm_geoms.loc[idx, 'geometry'])
        ).min()
        candidates.append((highway, total_area, min_dist))

    # Create DataFrame of candidates
    df = pd.DataFrame(candidates, columns=['highway', 'total_overlap', 'min_distance'])

    # Normalize values
    df['norm_overlap'] = (df['total_overlap'] - df['total_overlap'].min()) / (df['total_overlap'].max() - df['total_overlap'].min() + 1e-6)
    df['norm_distance'] = (df['min_distance'] - df['min_distance'].min()) / (df['min_distance'].max() - df['min_distance'].min() + 1e-6)

    # Score based on weighted combination
    df['score'] = w_overlap * df['norm_overlap'] - w_distance * df['norm_distance']

    # Return highway with highest score
    best = df.sort_values('score', ascending=False).iloc[0]
    return best['highway']


# Step 5: Apply decision to each oidrechov
unique_oids = street_edges['oidrechov']
highway_map = {oid: choose_highway(oid) for oid in unique_oids}

# Step 6: Assign result back to street_edges
street_edges['highway'] = street_edges['oidrechov'].map(highway_map)

# Step 7: Save results
street_edges.to_file(f"{data_folder}/streets.shp")

In [ ]:
# Test area

In [7]:
highway_nams  = gpd.read_file(f"{data_folder}/streets.shp")[['highway','oidrechov']]
highway_values = gpd.read_file(f"{data_folder}/streets_1.shp")[['highway','oidrechov']]

In [9]:
highway_values

      highway  oidrechov
0           0        1.0
1           0      320.0
2           0     9429.0
3           0      423.0
4           0     9427.0
...       ...        ...
7761       10     9638.0
7762        1     9643.0
7763        1     9639.0
7764        1     9642.0
7765        1     9640.0

[7766 rows x 2 columns]

In [8]:
highway_nams

          highway  oidrechov
0     residential        1.0
1     residential      320.0
2     residential     9429.0
3     residential      423.0
4     residential     9427.0
...           ...        ...
8746   pedestrian     9638.0
8747     tertiary     9643.0
8748     tertiary     9639.0
8749     tertiary     9642.0
8750     tertiary     9640.0

[8751 rows x 2 columns]

In [11]:
# highway_names_df has 'highway' column
# highway_values_df has 'highway' and 'value' columns (with unique highway entries)

highway_table = highway_nams.merge(highway_values, on='oidrechov', how='left').drop_duplicates(subset='highway_x')
highway_table

                                           highway_x  oidrechov  highway_y
0                                        residential        1.0        0.0
9                                           tertiary     4645.0        1.0
13                                          cycleway      576.0        2.0
18                                     living_street       75.0        3.0
21                                              path        6.0        4.0
22                                         secondary     6715.0        5.0
35                                         not known       10.0        NaN
37                                           footway       11.0        7.0
52          ['residential', 'pedestrian', 'service']       14.0        8.0
77                                           service       19.0        9.0
81                                        pedestrian     1039.0       10.0
119                  ['pedestrian', 'living_street']     4465.0       11.0
148                       ['residential', 'service']     1218.0        NaN
170                       ['residential', 'footway']       42.0       13.0
230              ['footway', 'steps', 'residential']     6174.0       14.0
234                         ['residential', 'steps']     7790.0        NaN
266                                          primary     7165.0       16.0
298                                     unclassified     3228.0       17.0
327                                ['track', 'path']       87.0       18.0
334                                            track     2245.0       19.0
343                    ['residential', 'pedestrian']       92.0       20.0
618                                    tertiary_link      225.0       21.0
633                       ['footway', 'residential']     6245.0       22.0
911                 ['residential', 'living_street']     5946.0       23.0
912                     ['footway', 'living_street']     9253.0       24.0
976                           ['footway', 'service']     6466.0       25.0
1091           ['footway', 'living_street', 'steps']     5883.0       26.0
1153                         ['residential', 'path']      483.0       27.0
1168                                           trunk      496.0       28.0
1172                                      trunk_link      497.0       29.0
1276                                        motorway      555.0       30.0
1820                            ['footway', 'steps']     5934.0       31.0
1971                                  secondary_link      917.0       32.0
2361              ['footway', 'pedestrian', 'steps']     1139.0        NaN
2634                         ['pedestrian', 'steps']     6341.0        NaN
2939                        ['path', 'unclassified']     1456.0       35.0
2964                             ['path', 'service']     3913.0       36.0
3313                          ['pedestrian', 'path']     1663.0       37.0
3638                       ['living_street', 'path']     3895.0       38.0
4193        ['residential', 'pedestrian', 'footway']     2220.0       39.0
4307                             ['footway', 'path']     8025.0       40.0
4499                            ['cycleway', 'path']     4305.0       41.0
4624     ['residential', 'living_street', 'footway']     6911.0       42.0
4773                 ['residential', 'unclassified']     2570.0       43.0
5089                                           steps     4330.0       44.0
5834                                   motorway_link     3256.0       45.0
6269                ['residential', 'steps', 'path']     3679.0       46.0
6725                     ['service', 'unclassified']     4111.0        NaN
6773  ['residential', 'footway', 'steps', 'service']     6621.0       48.0
6967             ['residential', 'steps', 'footway']     4468.0       49.0
6968                      ['living_street', 'steps']     7054.0       50.0
7320                             ['service', 'path']     6719.0       51.0
7435            ['footway', 'steps', 'unclassified']     6082.0       52.0
7436                     ['footway', 'unclassified']     6977.0       53.0
7631                            ['track', 'service']     6522.0       54.0
7783                        ['residential', 'track']     6772.0       55.0
7951                    ['track', 'path', 'service']     9317.0       56.0

In [13]:
# Assuming your DataFrame is named `df` and has a column called 'value'

# Keep only rows where 'value' is NOT a list
df_cleaned = highway_table[~highway_table['highway_x'].apply(lambda x: isinstance(x, list))].reset_index(drop=True)
df_cleaned

                                         highway_x  oidrechov  highway_y
0                                      residential        1.0        0.0
1                                         tertiary     4645.0        1.0
2                                         cycleway      576.0        2.0
3                                    living_street       75.0        3.0
4                                             path        6.0        4.0
5                                        secondary     6715.0        5.0
6                                        not known       10.0        NaN
7                                          footway       11.0        7.0
8         ['residential', 'pedestrian', 'service']       14.0        8.0
9                                          service       19.0        9.0
10                                      pedestrian     1039.0       10.0
11                 ['pedestrian', 'living_street']     4465.0       11.0
12                      ['residential', 'service']     1218.0        NaN
13                      ['residential', 'footway']       42.0       13.0
14             ['footway', 'steps', 'residential']     6174.0       14.0
15                        ['residential', 'steps']     7790.0        NaN
16                                         primary     7165.0       16.0
17                                    unclassified     3228.0       17.0
18                               ['track', 'path']       87.0       18.0
19                                           track     2245.0       19.0
20                   ['residential', 'pedestrian']       92.0       20.0
21                                   tertiary_link      225.0       21.0
22                      ['footway', 'residential']     6245.0       22.0
23                ['residential', 'living_street']     5946.0       23.0
24                    ['footway', 'living_street']     9253.0       24.0
25                          ['footway', 'service']     6466.0       25.0
26           ['footway', 'living_street', 'steps']     5883.0       26.0
27                         ['residential', 'path']      483.0       27.0
28                                           trunk      496.0       28.0
29                                      trunk_link      497.0       29.0
30                                        motorway      555.0       30.0
31                            ['footway', 'steps']     5934.0       31.0
32                                  secondary_link      917.0       32.0
33              ['footway', 'pedestrian', 'steps']     1139.0        NaN
34                         ['pedestrian', 'steps']     6341.0        NaN
35                        ['path', 'unclassified']     1456.0       35.0
36                             ['path', 'service']     3913.0       36.0
37                          ['pedestrian', 'path']     1663.0       37.0
38                       ['living_street', 'path']     3895.0       38.0
39        ['residential', 'pedestrian', 'footway']     2220.0       39.0
40                             ['footway', 'path']     8025.0       40.0
41                            ['cycleway', 'path']     4305.0       41.0
42     ['residential', 'living_street', 'footway']     6911.0       42.0
43                 ['residential', 'unclassified']     2570.0       43.0
44                                           steps     4330.0       44.0
45                                   motorway_link     3256.0       45.0
46                ['residential', 'steps', 'path']     3679.0       46.0
47                     ['service', 'unclassified']     4111.0        NaN
48  ['residential', 'footway', 'steps', 'service']     6621.0       48.0
49             ['residential', 'steps', 'footway']     4468.0       49.0
50                      ['living_street', 'steps']     7054.0       50.0
51                             ['service', 'path']     6719.0       51.0
52            ['footway', 'steps', 'unclassified']     6082.0       52.0
53                     ['footway', 'unclassified']     6977.0       53.0
54                            ['track', 'service']     6522.0       54.0
55                        ['residential', 'track']     6772.0       55.0
56                    ['track', 'path', 'service']     9317.0       56.0

In [ ]:
# Test area